<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>New book</title>
	<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		  rel="stylesheet">
	<style>
        #logo {
            background-color: black;
            color: white;
            text-align: center;
        }

        #navi {
            padding: 30px;
        }

        #footer {
            clear: both;
            background-color: black;
            font-size: 22px;
            color: white;
            text-align: center;
        }
	</style>
</head>
<body>
<div id="container" th:align="center">
	<div id="logo">
		<h1 align="center">Domowa biblioteka</h1>
	</div>
	<h2 style="font: message-box">Wprowadź informacje o książce</h2>
	<p th:if="validationMessage">Default validation message</p>
	<form action="#" method="POST" th:action="@{/save_book}" th:object="${book}">
		<p th:errors="*{title}" th:if="${#fields.hasErrors('title')}">Title errors</p>
		<input class="form-control mb-4 col-4" placeholder="Tytuł książki"
			   th:field="*{title}" type="text">
		<p th:errors="*{author}" th:if="${#fields.hasErrors('author')}"></p>
		<input class="form-control mb-4 col-4" placeholder="Autor książki"
			   th:field="*{author}" type="text">
		<input class="form-control mb-4 col-4" placeholder="Opis książki"
			   th:field="*{description}" type="text">
		<p th:errors="*{isbn}" th:if="${#fields.hasErrors('isbn')}">Title errors</p>
		<input class="form-control mb-4 col-4" placeholder="Numer ISBN"
			   th:field="*{isbn}" type="text">
		<input class="form-control mb-4 col-4" placeholder="Lokalizacja na regale"
			   th:field="*{localization}" type="text">
		<button class="bg-success btn-lg" type="submit">Dodaj</button>
	</form>
	<div id="navi">
		<a class="bg-dark btn btn-outline-primary" th:align="center" th:href="@{/}"> Wróć na stronę główną</a>
	</div>
</div>
<div id="footer">
	&copy Home Management System
	<br>
	Wszelkie prawa zastrzeżone @autor KamilAdd-Byte
</div>
</body>
</html>


