<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div>
	<table th:border="2"class="table table-striped table-responsive-lg">
		<!--tu przyciski-->
		<thead>
		<tr>
			<th>Imię</th>
			<th>Nazwisko</th>
			<th>E-mail</th>

			<!--				<th>Kategoria</th>-->
		</tr>
		</thead>
		<tbody>
		<tr th:align="center" th:each="user: ${listAllUser}">
			<td th:text="${user.firstName}"></td>
			<td th:text="${user.lastName}"></td>
			<td th:text="${user.email}"></td>
		</tr>
		</tbody>
	</table>
	<a th:href="@{/user/showNewFormUser}" class="bg-dark btn btn-outline-primary" th:align="center">Dodaj użytkownika</a>

</div>
</body>
</html>
