<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Użytkownicy</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		  crossorigin="anonymous">
</head>
<body>
<div>
	<table th:border="2"class="table table-striped table-responsive-lg">
		<!--tu przyciski-->
		<thead>
		<tr>
			<th>Imię</th>
			<th>Nazwisko</th>
			<th>E-mail</th>

			<!--				<th>Kategoria</th>-->
		</tr>
		</thead>
		<tbody>
		<tr th:align="center" th:each="userLending: ${listAllUser}">
			<td th:text="${userLending.firstName}"></td>
			<td th:text="${userLending.lastName}"></td>
			<td th:text="${userLending.email}"></td>
		</tr>
		</tbody>
	</table>

	<div id="navi">
		<a th:href="@{/userLending/showNewFormUser}" class="bg-dark btn btn-outline-primary" th:align="center">Dodaj użytkownika</a>
		<a class="bg-dark btn btn-outline-primary" th:align="center" th:href="@{/}"> Wróć na stronę główną</a>
	</div>
</div>
</body>
</html>
